*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: 'Raleway', serif;
}

#homeScreen{
    background-image: url("mainPage.jpg");
}

#greetingDiv{
    font-size: 50px;
    color: White;
}

#nameSpan{
    color: #86C232;
}

#aboutMeDiv{
    background-color: #222629;
}


#myWorkDiv{
    background-color: #222329;}

#contactMeDiv{
    background-color: #222629;}

#myPhoto{
    max-height: 100%;
    max-width: 100%;
    border-radius: 5%;
}

#aboutMeTitle{
    padding-top: 65px;
    margin-bottom: 0;
    color: #61892F;
}

#myCarousel{
    margin-top: 70px;
    width: 900px;
    height: 500px;
}

.header{
    font-size: 50px;
}

/* change navbar-toggler inside lines color (stroke) */
.navbar-light span.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='yellowgreen' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* change hamburger button border color */
.navbar-light button.navbar-toggler {
    border-color: yellowgreen;
}

.navText li:hover{
/*    Add Hover effect for tab text*/
}

.reveal{
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: 2s all ease;
}
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}